#all files in the build folder
os/build
os/build/*

#all object files
*.o

#all binary files
*.bin

#all stupid emacs autosave files
*~
#*#

#all mac folder preference files
*DS_Store*

#all bochs files
*bochs*

#implemented utilities
utils/
utils/*

# markdown files compiled into .html
README.html